---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import projects from "../../data/projects.json";

const featuredProjects = projects.slice(0, 4);
---
<link rel="stylesheet" href="/assets/css/projects.min.css" />

<BaseLayout title="Projects | Axial Construct">

  <Header />
<header class="page primary-bg">
  <div class="container">
    <div class="section_header">
      <span class="subtitle subtitle--extended">Building communities</span>
      <h1 class="title">Our Projects</h1>

      <ul class="breadcrumbs">
        <li class="breadcrumbs_item"><a href="/">Home</a></li>
        <li class="breadcrumbs_item breadcrumbs_item--current">
          <span>Our Projects</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="media">
    <img src="/assets/img/plan.png" alt="Projects" />
  </div>
</header>

<main class="projects section">
  <div class="container">
    <ul class="projects_list">
      {featuredProjects.map(project => (
        <li class="projects_list-item">
          <div class="media">
            <img src={project.thumbnail} alt={project.title} />
          </div>

          <div class="main">
            <h3 class="main_title">
              <span class="text">{project.title}</span>
              <span class="divider divider--line"></span>
            </h3>

            <div class="main_info">
              <span class="location">
                <i class="icon-location icon"></i>
                {project.location}
              </span>

              <a
                class="link link-arrow"
                href={`/projects/${project.slug}`}
              >
                Details <i class="icon-arrow_right icon"></i>
              </a>
            </div>
          </div>
        </li>
      ))}
    </ul>
  </div>
</main>

<Footer />