---
import PageLayout from "@layouts/PageLayout.astro";

import { getSortedProjects } from "../../utils/projects.ts";

const allProjects = getSortedProjects();
---

<PageLayout 
  title="Projects | Axial Construct"
  pageSubtitle="Building communities"
  pageTitle="Our Projects"
>
  <link slot="head" rel="stylesheet" href="/assets/css/projects.min.css" />


  <section class="projects section">
  <div class="container">
    <ul class="projects_list">
      {allProjects.map(project => (
        <li class="projects_list-item">
          <div class="media">
            <img src={project.thumbnail} alt={project.title} />
          </div>

          <div class="main">
            <h3 class="main_title">
              <span class="text">{project.title}</span>
              <span class="divider divider--line"></span>
            </h3>

            <div class="main_info">
              <span class="location">
                <i class="icon-location icon"></i>
                {project.location}
              </span>

              <a
                class="link link-arrow"
                href={`/projects/${project.slug}`}
              >
                Details <i class="icon-arrow_right icon"></i>
              </a>
            </div>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>
</PageLayout>